<p>
	<strong>Commenter: </strong>
	<%= comment.commenter %>
</p>
<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Remark', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               <!-- Send delete request nested article_id/comments/id to controller -->
</p>		