<!-- assign form to comment controller create action
Uses array to build nested route article/ForiegnID/comments -->
<%= form_for([@article, @article.comments.build]) do |f| %>
	<div class="form-group">
		<%= f.label :commenter %><br>
		<%= f.text_field :commenter , class: "form-control"  %>
	</div>
	<div class="form-group">
		<%= f.label :body %><br>
		<%= f.text_area :body , class: "form-control"  %>
	</div>
	<p>
		<%= f.submit class: "btn btn-default"  %>
	</p>
<%end%>