
<%= form_for @article , html: { multipart: true } do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <!-- bootstrap form class tag -->
 <!-- each label control pair is wrapped in form-group class -->
 <!-- each control is given form-control class -->
 <!-- Possible to make inline forms and horiztonal forms -->
 <!-- Supports range of input types -->
 <!--  -->
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Give me a name", class: "form-control"  %>
  </div>
 
  <div class="form-group">
    <%= f.label :text %><br>
    <%= f.text_area :text , class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment , class: "form-control"  %>
  </div>
 
  <p>
    <%= f.submit class: "btn btn-default" %>
  </p>
 
<% end %>