<h1>Change Cloud</h1>

<!-- non-empty @article object tells Rails that we want this form to be 
submitted (update) via the (update) PATCH HTTP method  -->
<!-- form_for @article  -->

<!-- render partial view -->
<%= render 'form' %>

<%= link_to 'Upstream', articles_path , class: 'btn btn-default'%>