
<div id="header">
	<h1>Thoughts</h1>
</div>

<!-- Create nav tabs and show which is active through a list -->
<!-- Use nav-justified to make equal width of parent -->
<ul class="nav nav-tabs " role="tablist">
	 <li class="active">
	 	<%= link_to articles_path do%>
	 		<i class="glyphicon glyphicon-th-list"></i> Thoughts
	 	<% end %>
	 </li>
	<!-- new_article_path Resource for urls -->
	<!-- Links and inputs can be given btn class option, state and size -->
	<li>
		<%= link_to new_article_path do %>
			<!-- Add icons to links using Glyphicons -->
			<i class="glyphicon glyphicon-plus"></i> New thought
		<% end %>
	</li>	
</ul>
<!-- table class provides nice style -->
<!-- tables can be wrapped in table-responsive class for smaller devices -->
<table class="table">
	<!-- Use contextual class for rows and cells -->
	<tr>
		<th>Title</th>
	</tr>

	<% @articles.each do |article| %>
		<tr class="active">
			<!-- <td><%=article.title%></td> -->
			<!-- Tool tip functionality -->
			<!-- Better alt to title html tag -->
			<td>
				<span class="has-tooltip" data-toggle="tooltip" title="<%= "Created on #{article.created_at.strftime("%m/%e/%Y at %w:%M %p")}, Last modified on #{article.updated_at.strftime("%m/%e/%Y at %w:%M %p")}" %>">
				    <%= article.title %>
				</span>
			</td>
			<!--  -->


			<!-- <td><%=article.text%></td> -->

			<!-- Modal component renders pop up to screen -->
			<!-- Requires modal button with data-target
			Modal base class, subclasses - dialog content header title body footer -->
			
			<% if article.text? %>
			  <!-- Button trigger modal -->
			  <button class="btn btn-link" data-toggle="modal" data-target="#article-<%= article.id %>-text">
			    <%=article.title%>
			  </button>

			  <!-- Modal -->
			  <div class="modal fade" id="article-<%= article.id %>-text" tabindex="-1" role="dialog" aria-labelledby="article-<%= article.id %>-label" aria-hidden="true">
			    <div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-header">
			          <h4 class="modal-title" id="article-<%= article.id %>-label"><%=article.title%></h4>
			        </div>
			        <div class="modal-body">
			          <%= article.text %>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			    </div>
			  </div>
			<% end %>

			<!--  -->


			<!-- path url helpers -->
			<td>
				<%= link_to "Show", article_path(article) , class: 'btn btn-default btn-xs' %>
				<!-- Popover , requires has-popover class, data-toggle, title and data-content -->
				<% if article.text? %>
					<button type="button" class="btn btn-link has-popover" data-toggle="popover" title="Text" data-content="<%= article.text %>">View Thought (popover)</button>
				<% end %>
			</td>
			
			<td>
				<%= link_to edit_article_path(article) , class: 'btn btn-default btn-xs' do %>
					<i class="glyphicon glyphicon-edit"></i> Change
				<% end %>
			</td>
			
			<td>
				<%= link_to article_path(article),
	              method: :delete,
	              data: { confirm: 'Is this what you want?' } , class: 'btn btn-danger btn-xs' do %>
	              	<i class="glyphicon glyphicon-trash"></i> Destroy
	              <% end %>
	              	<!-- js confirm dialog box -->
	        </td>
		</tr>
	<% end %>
</table>

<%= link_to controller: 'welcome' , class: 'btn btn-default btn-xs' do %>
	<i class="glyphicon glyphicon-home"></i> Upstream
<% end %>
