
<ul class="nav nav-tabs" role="tablist">
	 <li>
	 	<%= link_to articles_path do%>
	 		<i class="glyphicon glyphicon-th-list"></i> Thoughts
	 	<% end %>
	 </li>
	<li class="active">
		<%= link_to new_article_path do %>
			<i class="glyphicon glyphicon-plus"></i> New thought
		<% end %>
	</li>	
</ul>

<h1>New Cloud</h1>

<!-- articles_path url to send form to create action -->
<!-- :article symbol to create formbuilder for article object -->
<!--  form_for :article, url: articles_path do |f| -->

<%= render 'form' %>