<div class="row">
	<h3>
		<%= @article.title %>
	</3>

	<!-- Various typography classes can be applied -->
	<p class="lead">
		<%= @article.text %>
	</p>

	<p>
		<%= image_tag(@article.attachment_url , class: " img-responsive img-thumbnail" ) unless @article.attachment.file.nil? %> 
	</p>	
</div>
<div class="row">
	<h3>Remarks</h3>
	<!-- partial view of _comment -->
	<%= render @article.comments %>

	<h4>Make a remark</h4>
	<!-- render partial view -->
	<%= render 'comments/form' %>

	<!-- url helper to edit item -->
	<%= link_to 'Change', edit_article_path(@article) , class: 'btn btn-default'%>
	<!-- articles_path url helper for controller index -->
	<%= link_to 'Upstream', articles_path , class: 'btn btn-default'%>
</div>