<!-- app/views/shared/_navigation.html.erb -->

<!-- Cretae navigation bar -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Awaken To the Morning</a>
		</div>

		<!-- Dropdown functionality in nav bar -->
		<!-- Add dropdown class -->
		<!-- Add data-toggle="dropdown" to a link or button to toggle a dropdown. -->
		<!-- Add list with class dropdown-menu -->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Login</a></li>
		        	<li class="divider"></li>
		        	<li><%= link_to "Posts", controller: 'articles' %></li>
		        	<li class="divider"></li>
		          	<li><%= link_to 'New Thought', new_article_path %></li>
		        </ul>
			</li>
		</ul>
	</div>
</nav>