
<div id = "header">
    <h1>In the Mood for thoughts ...</h1>
</div>

<div id= "rootlinks">
	<!-- link using controller -->
	<%= link_to "Posts", controller: 'articles' %>

	<!-- new_article_path resource for urls -->
	<%= link_to "New thought", new_article_path %>
</div>