<!DOCTYPE html>
<html>
  <head>
    <title>Awaken to the morning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Navigation bar for site -->
  <%= render 'shared/navigation' %>
  	<div id="main-container" class="container">
  	<div class="row">
  		<div class="col-md-3">
  			<h3>Awaken to the morning</h3>
  		</div>
  		<div class="col-md-9">
		    <%= yield %>
  		</div>
  	</div>
  		
  	</div>
  </body>
</html>


<!-- Grid layouts
Container class nesting a row class nesting column classes
Rows can be further nested
Can change container to container-fluid

Columns must add up to 12
Columns scale to size 
Columns media from phone to desktop -->