<!DOCTYPE html>
   <head>
      <title>Awaken to the morning</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag "style", media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body id = "tumblr">
      <div id = "container">
         
         

         <div id = "content">
            <%= yield -%>
         </div>

         <div id = "sidebar"></div>
         
      </div>
   </body>
   
</html>